#floatingBarsG{
    position: absolute;
	top: 50%;
	width:57px;
	height:71px;
    margin:auto 50%;
}

.blockG{
	position:absolute;
	background-color:#212121;
	width:9px;
	height:22px;
	border-radius:7px 7px 0 0;
		-o-border-radius:7px 7px 0 0;
		-ms-border-radius:7px 7px 0 0;
		-webkit-border-radius:7px 7px 0 0;
		-moz-border-radius:7px 7px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:0.782s;
		-o-animation-duration:0.782s;
		-ms-animation-duration:0.782s;
		-webkit-animation-duration:0.782s;
		-moz-animation-duration:0.782s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:26px;
	animation-delay:0.2895s;
		-o-animation-delay:0.2895s;
		-ms-animation-delay:0.2895s;
		-webkit-animation-delay:0.2895s;
		-moz-animation-delay:0.2895s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:7px;
	top:9px;
	animation-delay:0.386s;
		-o-animation-delay:0.386s;
		-ms-animation-delay:0.386s;
		-webkit-animation-delay:0.386s;
		-moz-animation-delay:0.386s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:24px;
	top:3px;
	animation-delay:0.4825s;
		-o-animation-delay:0.4825s;
		-ms-animation-delay:0.4825s;
		-webkit-animation-delay:0.4825s;
		-moz-animation-delay:0.4825s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:7px;
	top:9px;
	animation-delay:0.589s;
		-o-animation-delay:0.589s;
		-ms-animation-delay:0.589s;
		-webkit-animation-delay:0.589s;
		-moz-animation-delay:0.589s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:26px;
	animation-delay:0.6855s;
		-o-animation-delay:0.6855s;
		-ms-animation-delay:0.6855s;
		-webkit-animation-delay:0.6855s;
		-moz-animation-delay:0.6855s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:7px;
	bottom:6px;
	animation-delay:0.782s;
		-o-animation-delay:0.782s;
		-ms-animation-delay:0.782s;
		-webkit-animation-delay:0.782s;
		-moz-animation-delay:0.782s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:24px;
	animation-delay:0.8785s;
		-o-animation-delay:0.8785s;
		-ms-animation-delay:0.8785s;
		-webkit-animation-delay:0.8785s;
		-moz-animation-delay:0.8785s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:7px;
	bottom:6px;
	animation-delay:0.975s;
		-o-animation-delay:0.975s;
		-ms-animation-delay:0.975s;
		-webkit-animation-delay:0.975s;
		-moz-animation-delay:0.975s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:#212121;
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:#212121;
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:#212121;
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:#212121;
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:#212121;
	}
}